@import "compass/css3";
@import "compass/utilities/general/clearfix";

body {
  background-color: #e7e7e7;
  color: #000;
}

$btn-height: 45px;

#url-shortener-form {
  width: 512px;

  label {
    font-weight: bold;
    margin-bottom: 5px;
  }

  #error-msg {
    display: none;
    background-color: #fee;
    border: solid 1px #f88;
    @include border-radius(5px);
    padding: 5px;
  }

  #edit-long-url {
    width: 500px;
  }

  #squish-btn-wrapper {
    height: $btn-height;
  }

  #button-label {
    display: inline;
    line-height: $btn-height;
  }

  #edit-squish {
    float: right;
  }

  #edit-short-url {
    width: 250px;
    float: right;
  }

  .form-item-short-url {
    @include clearfix;
  }

  .form-item-long-url,
  #squish-btn-wrapper,
  .form-item-short-url {
    margin-bottom: 30px;
  }
}
