/* line 4, ../scss/url_shortener.scss */
body {
  background-color: #e7e7e7;
  color: #000;
}

/* line 11, ../scss/url_shortener.scss */
#url-shortener-form {
  width: 512px;
}
/* line 14, ../scss/url_shortener.scss */
#url-shortener-form label {
  font-weight: bold;
  margin-bottom: 5px;
}
/* line 19, ../scss/url_shortener.scss */
#url-shortener-form #error-msg {
  display: none;
  background-color: #fee;
  border: solid 1px #f88;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
}
/* line 27, ../scss/url_shortener.scss */
#url-shortener-form #edit-long-url {
  width: 500px;
}
/* line 31, ../scss/url_shortener.scss */
#url-shortener-form #squish-btn-wrapper {
  height: 45px;
}
/* line 35, ../scss/url_shortener.scss */
#url-shortener-form #button-label {
  display: inline;
  line-height: 45px;
}
/* line 40, ../scss/url_shortener.scss */
#url-shortener-form #edit-squish {
  float: right;
}
/* line 44, ../scss/url_shortener.scss */
#url-shortener-form #edit-short-url {
  width: 250px;
  float: right;
}
/* line 49, ../scss/url_shortener.scss */
#url-shortener-form .form-item-short-url {
  overflow: hidden;
  *zoom: 1;
}
/* line 55, ../scss/url_shortener.scss */
#url-shortener-form .form-item-long-url,
#url-shortener-form #squish-btn-wrapper,
#url-shortener-form .form-item-short-url {
  margin-bottom: 30px;
}
